# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/workspace.xml
project/project/
project/target/
target/
/.idea/vcs.xml
